@model Job_Offers_MVC.Models.Jobs

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Laptop Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobContent)
        </dt>

        <dd>
           @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.JobContent).ToString()))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobImage)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(model => model.JobImage)"
                 class="thumbnail"
                 style="width:128px;height:128px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ADD To Cart", "Apply", new { id = Model.Id }, new { @class="btn btn-success"})
    @Html.ActionLink("Back to List", "Index", new {@class ="btn btn-default"})
</p>
