@model Job_Offers_MVC.Models.ApplyForJob

@{
    ViewBag.Title = "Archive Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Archived Products</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.JobId)
        @Html.HiddenFor(model => model.UserId)
        

        <div class="form-group">
            @Html.LabelFor(model => model.job.JobTitle, "Laptop Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.job.JobTitle
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.user.UserName, "User Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.user.UserName
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message,"Comment", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApplyDate,"Buying Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.ApplyDate
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
